[submodule "onrobot"]
	path = onrobot
	url = https://github.com/Osaka-University-Harada-Laboratory/onrobot
[submodule "rg2_simulation"]
	path = rg2_simulation
	url = https://github.com/ekorudiawan/rg2_simulation.git
[submodule "Universal_Robots_ROS_Driver"]
	path = Universal_Robots_ROS_Driver
	url = https://github.com/UniversalRobots/Universal_Robots_ROS_Driver.git
[submodule "universal_robot"]
	path = universal_robot
	url = git@github.com:ros-industrial/universal_robot.git
